<main class="container">
  {{> page-header }}
  <p>
    <a href="/teams/{{team.id}}">Back to {{team.title}} Info</a>
  </p>
  <section class="pt-3">
    <h2 class="h5">Members</h2>
    <p>{{team.members}}
      <br>
      <a href="/teams/{{team.id}}/members">edit members</a>
    </p>
  </section>
  <section style="max-width: 30rem" class="pt-3">
    <form id="add-note-form">
      <h2 class="h5">Add Note</h2>
      <input type="hidden" name="teamId" value="{{team.id}}">
      <div class="mb-3">
        <label for="date-input" class="form-label">Date</label>
        <input type="date" class="form-control" id="date-input" name="date">
      </div>
      <div class="mb-3">
        <label for="time-input" class="form-label">Time</label>
        <input type="time" class="form-control" id="time-input" name="time">
      </div>
      <div class="mb-3">
        <label for="body-input" class="form-label">Note</label>
        <textarea class="form-control" id="body-input" rows="5" name="body"
          placeholder="Who did you speak with? What did you talk about? How is the team doing?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="save-note-btn">Save Note</button>
    </form>
    </div>

  </section>
</main>
<script src="/js/add-note.js"></script>