<main class="container">

  {{> page-header}}

  <form id="edit-title-form" style="max-width: 30rem" class="d-none pt-5">
    <input type="hidden" name="teamId" value="{{id}}">
    <div class="input-group mb-1">
      <input type="text" class="form-control" placeholder="Team's title" aria-label="Team's title"
        aria-describedby="save-title-btn" id="title-input" value="{{title}}" name="title" required minlength="1"
        maxlength="20">
      <button class="btn btn-outline-primary" type="submit" id="save-title-btn">Save</button>
      <button class="btn btn-outline-secondary" type="button" id="cancel-edit-title-btn">Cancel</button>
    </div>
  </form>

  <p>
    <a class="btn btn-link p-0" href="/teams">Back to teams</a> | <button id="edit-title-btn" class="btn btn-link p-0"
      aria-label="edit team title p-0">Edit title</button>
  </p>
  <section class="">
    <h2 class="h5">Members</h2>
    {{#if members.length}}
    <p>{{members}}<br><a href="/teams/{{id}}/members">edit</a></p>
    {{else}}
    <p>This team doesn't have any members yet.<br><a href="/teams/{{id}}/members">Add members</a></p>
    {{/if}}
  </section>

  <section class="pt-3">
    <header class="d-flex justify-content-between pb-3">
      <h2 class="h5">Log</h2>
      <a href="/teams/{{id}}/add-note" class="btn btn-primary">Add Note</a>
    </header>

    {{#each notes}}
    <div class="card mb-3">
      <div class="card-header" data-ts="{{createdAt}}"></div>
      <div class="card-body">
        <p>{{body}}</p>
      </div>
    </div>
    {{/each}}

    {{#unless notes.length}}
    <p>You haven't created any notes for this team yet.</p>
    {{/unless}}
  </section>
</main>
<script src="/js/team-details.js"></script>