<main class="container">
  {{> page-header heading="Red Team"}}

  <p>
    <a href="/teams">Back to teams</a>
  </p>
  <section class="">
    <h2 class="h5">Members</h2>
    {{#if members.length}}
    <p>{{members}}<br><a href="/teams/{{id}}/members">edit</a></p>
    {{else}}
    <p>This team doesn't have any members yet.<br><a href="/teams/{{id}}/members">Add members</a></p>
    {{/if}}
  </section>

  <section class="pt-3">
    <header class="d-flex justify-content-between pb-3">
      <h2 class="h5">Log</h2>
      <a href="/teams/{{id}}/add-note" class="btn btn-primary">Add Note</a>
    </header>

    {{#each notes}}
    <div class="card mb-3">
      <div class="card-header" data-ts="{{createdAt}}"></div>
      <div class="card-body">
        <p>{{body}}</p>
      </div>
    </div>
    {{/each}}

    {{#unless notes.length}}
    <p>You haven't created any notes for this team yet.</p>
    {{/unless}}
  </section>
</main>
<script src="/js/team-details.js"></script>